{% extends "base.html" %}
<!-- extends -->
{% block content %}
<div class="user_list">
<h1>Login</h1>
<form action="/login" method="POST">
<table>
    <tbody>
        <tr>
            <td>Email</td>
            <td><input type="text" name="username" id="username" value="">
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" value="" name="password" id="password">
            </td> 
        </tr>
    </tbody>
<table>
<input type="submit" value = "Login">
</form>
{% if error == True %}
<div class="error">Invalid email or password!</div>
{% endif %}
</div>

{% endblock %}
